In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from datetime import time
import os

In [2]:
data="all_flow_data_25th April'25.csv"
input_file="rejection_reason_26-April'25.csv"
mco_output_file="MCO_Rejection_25th April'25.csv"
kyc_acc_output_file="KYC_ACC_Rejection_25th April'25.csv"

In [3]:
#data="all_flow_data_31st Mar'25.csv"
#input_file="mco_all_rejection_01st April.csv"
#mco_output_file="MCO_all_Rejection_31st Mar'25.csv"
#kyc_acc_output_file="KYC_all_ACC_Rejection_31st Mar'25.csv"

In [4]:
rejection_data=pd.read_csv(input_file,memory_map=True)
data=pd.read_csv(data,memory_map=True)
len(rejection_data)

44092

In [5]:
rejection_data.head(5)

,cust_id,lead_id,entity_type,rejected_field_reason,rejected_field_name,updated_at,solution_type,solution_type_level_2,solution_type_level_3,FSE_Ecode
0,1441416634,2093a170-6be5-4809-b1f1-1b8ce6cbe1bc,INDIVIDUAL,Screenshot of Aadhar is not allowed,aadhaar,2025-04-02 14:59:10.000,merchant_common_onboard,NaN,NaN,10221771
1,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,Bank account holder mismatch with business/pro...,bankVerificationStatus,2025-04-24 15:28:32.000,merchant_common_onboard,NaN,NaN,39922
2,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,Name on PassBook mismatch with business/KYC name,bankPassbook,2025-04-24 15:28:32.000,merchant_common_onboard,NaN,NaN,39922
3,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,Business Owner Photo is not matching with Aadhaar,businessOwnerPhoto,2025-04-23 11:55:21.000,merchant_common_onboard,NaN,NaN,10231728
4,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,The name on PAN does not match with the name a...,pan,2025-04-23 11:55:21.000,merchant_common_onboard,NaN,NaN,10231728

In [6]:
data=data[['Lead_ID','Product_Context','Stage movement count','solution_type_level_3']]
data.head(5)

,Lead_ID,Product_Context,Stage movement count,solution_type_level_3
0,01a864d1-f827-49e2-bb94-a7479f025d46,NON_EDC,NaN,NaN
1,f45b4500-5d21-4d41-b312-a38927a154c0,NON_EDC,NaN,NaN
2,38d97776-1026-4c53-b084-1d779d4384c9,NON_EDC,"{""PANEL_SUCCESS"":1}",NaN
3,5ba3895f-c666-4980-9a4d-938df44e3ed4,NON_EDC,NaN,NaN
4,ffd6f6d8-4e5f-4d3b-84e6-b8c4ea94bbe4,NON_EDC,"{""PANEL_SUCCESS"":1}",NaN

In [7]:
data['solution_type_level_3'].value_counts()

KYC_UPDATE         26911
ACCOUNT_UPGRADE    11489
3P FSE               603
DIY                    1
Name: solution_type_level_3, dtype: int64

In [8]:
rejection_data['updated_at']=pd.to_datetime(rejection_data['updated_at'],errors='coerce')
rejection_data.head(5)

,cust_id,lead_id,entity_type,rejected_field_reason,rejected_field_name,updated_at,solution_type,solution_type_level_2,solution_type_level_3,FSE_Ecode
0,1441416634,2093a170-6be5-4809-b1f1-1b8ce6cbe1bc,INDIVIDUAL,Screenshot of Aadhar is not allowed,aadhaar,2025-04-02 14:59:10,merchant_common_onboard,NaN,NaN,10221771
1,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,Bank account holder mismatch with business/pro...,bankVerificationStatus,2025-04-24 15:28:32,merchant_common_onboard,NaN,NaN,39922
2,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,Name on PassBook mismatch with business/KYC name,bankPassbook,2025-04-24 15:28:32,merchant_common_onboard,NaN,NaN,39922
3,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,Business Owner Photo is not matching with Aadhaar,businessOwnerPhoto,2025-04-23 11:55:21,merchant_common_onboard,NaN,NaN,10231728
4,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,The name on PAN does not match with the name a...,pan,2025-04-23 11:55:21,merchant_common_onboard,NaN,NaN,10231728

In [9]:
current_date = pd.Timestamp(datetime.now().date())
current_date

Timestamp('2025-04-26 00:00:00')

In [10]:
rejection_data=rejection_data[rejection_data['updated_at'].dt.date != current_date]
len(rejection_data)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

43776

In [11]:
rejection_data['solution_type_level_3'].unique()

array([nan, 'KYC_UPDATE', 'ACCOUNT_UPGRADE_LENDING', 'ACCOUNT_UPGRADE',
       'PROFILE_UPDATE', 'DIY'], dtype=object)

In [12]:
rejection_data=rejection_data[rejection_data['solution_type_level_3']!='YBL_LIMIT_ENHANCEMENT']

rejection_data['solution_type_level_3'].unique()

array([nan, 'KYC_UPDATE', 'ACCOUNT_UPGRADE_LENDING', 'ACCOUNT_UPGRADE',
       'PROFILE_UPDATE', 'DIY'], dtype=object)

In [13]:
rejection_data['solution_type_level_3']=rejection_data['solution_type_level_3'].replace(['ACCOUNT_UPGRADE_LENDING','PROFILE_UPDATE'],'ACCOUNT_UPGRADE')

rejection_data['solution_type_level_3'].unique()

array([nan, 'KYC_UPDATE', 'ACCOUNT_UPGRADE', 'DIY'], dtype=object)

In [14]:
rejection_data['solution_type_level_3'].value_counts()

ACCOUNT_UPGRADE    3780
KYC_UPDATE         3222
DIY                  11
Name: solution_type_level_3, dtype: int64

In [15]:
rejection_data.loc[~rejection_data['entity_type'].isin(['INDIVIDUAL','PROPRIETORSHIP']),'entity_type']='NON_PROPRIETORSHIP'
rejection_data['entity_type'].value_counts()

INDIVIDUAL            29382
PROPRIETORSHIP        12961
NON_PROPRIETORSHIP     1433
Name: entity_type, dtype: int64

In [16]:
kyc_acc_rejection=rejection_data[rejection_data["solution_type_level_3"].isin(["ACCOUNT_UPGRADE","KYC_UPDATE"])]
kyc_acc_rejection['solution_type_level_3'].value_counts()

ACCOUNT_UPGRADE    3780
KYC_UPDATE         3222
Name: solution_type_level_3, dtype: int64

In [17]:
mco_rejection=rejection_data[~rejection_data["solution_type_level_3"].isin(["ACCOUNT_UPGRADE","KYC_UPDATE"])]
len(mco_rejection)

36774

In [18]:
kyc_acc_rejection.insert(kyc_acc_rejection.columns.get_loc('entity_type')+1,'entuty_type_1',np.nan)
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_2', 'solution_type_level_3',
       'FSE_Ecode'],
      dtype='object')

In [19]:
kyc_acc_rejection.loc[:, 'entuty_type_1'] = kyc_acc_rejection['entity_type']
kyc_acc_rejection['entuty_type_1'].value_counts()

C:\Users\avnish1.yadav\AppData\Local\Temp\ipykernel_16988\272290521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kyc_acc_rejection.loc[:, 'entuty_type_1'] = kyc_acc_rejection['entity_type']

PROPRIETORSHIP        5332
INDIVIDUAL            1576
NON_PROPRIETORSHIP      94
Name: entuty_type_1, dtype: int64

In [20]:
kyc_acc_rejection['entuty_type_1']=kyc_acc_rejection['entuty_type_1'].replace(['PROPRIETORSHIP','NON_PROPRIETORSHIP'],'NON_EDC')
kyc_acc_rejection['entuty_type_1'].value_counts()

C:\Users\avnish1.yadav\AppData\Local\Temp\ipykernel_16988\2156595060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kyc_acc_rejection['entuty_type_1']=kyc_acc_rejection['entuty_type_1'].replace(['PROPRIETORSHIP','NON_PROPRIETORSHIP'],'NON_EDC')

NON_EDC       5426
INDIVIDUAL    1576
Name: entuty_type_1, dtype: int64

In [21]:
kyc_acc_rejection=kyc_acc_rejection.drop(columns=['solution_type_level_2'])
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_3', 'FSE_Ecode'],
      dtype='object')

In [22]:
kyc_acc_rejection=pd.merge(kyc_acc_rejection,data,left_on='lead_id',right_on='Lead_ID',how='left')
kyc_acc_rejection=kyc_acc_rejection.drop(columns=['Lead_ID'])

In [23]:
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_3_x', 'FSE_Ecode',
       'Product_Context', 'Stage movement count', 'solution_type_level_3_y'],
      dtype='object')

In [24]:
kyc_acc_rejection.loc[kyc_acc_rejection['solution_type_level_3_y']=='3P FSE','solution_type_level_3_x']='3P FSE'

In [25]:
kyc_acc_rejection['solution_type_level_3_x'].value_counts()

ACCOUNT_UPGRADE    3780
KYC_UPDATE         3077
3P FSE              145
Name: solution_type_level_3_x, dtype: int64

In [26]:
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_3_x', 'FSE_Ecode',
       'Product_Context', 'Stage movement count', 'solution_type_level_3_y'],
      dtype='object')

In [27]:
kyc_acc_rejection = kyc_acc_rejection.drop(columns=['FSE_Ecode'])
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_3_x', 'Product_Context',
       'Stage movement count', 'solution_type_level_3_y'],
      dtype='object')

In [28]:
mco_rejection=mco_rejection.drop(columns=['solution_type_level_2','solution_type'])
mco_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'rejected_field_reason',
       'rejected_field_name', 'updated_at', 'solution_type_level_3',
       'FSE_Ecode'],
      dtype='object')

In [29]:
mco_rejection.insert(mco_rejection.columns.get_loc('entity_type')+1,'entuty_type_1',np.nan)
mco_rejection.insert(mco_rejection.columns.get_loc('entuty_type_1')+1,'Product_Context',np.nan)
mco_rejection.insert(mco_rejection.columns.get_loc('rejected_field_name')+1,'Stage movement count',np.nan)

In [30]:
mco_rejection=pd.merge(mco_rejection,data,left_on='lead_id',right_on='Lead_ID',how='left')
mco_rejection=mco_rejection.drop(columns=['Lead_ID'])

In [31]:
mco_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'Product_Context_x', 'rejected_field_reason', 'rejected_field_name',
       'Stage movement count_x', 'updated_at', 'solution_type_level_3_x',
       'FSE_Ecode', 'Product_Context_y', 'Stage movement count_y',
       'solution_type_level_3_y'],
      dtype='object')

In [32]:
mco_rejection['Product_Context_x']=mco_rejection['Product_Context_y']
mco_rejection['Stage movement count_x']=mco_rejection['Stage movement count_y']
mco_rejection['entuty_type_1']=mco_rejection['entity_type']
mco_rejection=mco_rejection.drop(columns=['Product_Context_y','Stage movement count_y'])

In [33]:
mco_rejection.loc[mco_rejection['entuty_type_1'].isin(['PROPRIETORSHIP','NON_PROPRIETORSHIP']),'entuty_type_1']=mco_rejection['Product_Context_x']

In [34]:
mco_rejection.head(5)

,cust_id,lead_id,entity_type,entuty_type_1,Product_Context_x,rejected_field_reason,rejected_field_name,Stage movement count_x,updated_at,solution_type_level_3_x,FSE_Ecode,solution_type_level_3_y
0,1441416634,2093a170-6be5-4809-b1f1-1b8ce6cbe1bc,INDIVIDUAL,INDIVIDUAL,NON_EDC,Screenshot of Aadhar is not allowed,aadhaar,"{""QC_REJECTED"":1}",2025-04-02 14:59:10,NaN,10221771,NaN
1,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,INDIVIDUAL,NON_EDC,Bank account holder mismatch with business/pro...,bankVerificationStatus,"{""QC_REJECTED"":2}",2025-04-24 15:28:32,NaN,39922,NaN
2,1949975962,69828061-0e5c-44cf-9d38-fbcae300c890,INDIVIDUAL,INDIVIDUAL,NON_EDC,Name on PassBook mismatch with business/KYC name,bankPassbook,"{""QC_REJECTED"":2}",2025-04-24 15:28:32,NaN,39922,NaN
3,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,INDIVIDUAL,NON_EDC,Business Owner Photo is not matching with Aadhaar,businessOwnerPhoto,"{""QC_REJECTED"":1}",2025-04-23 11:55:21,NaN,10231728,NaN
4,1816644683,4f8eb1e5-6b46-4f17-bcf4-7108941fddc8,INDIVIDUAL,INDIVIDUAL,NON_EDC,The name on PAN does not match with the name a...,pan,"{""QC_REJECTED"":1}",2025-04-23 11:55:21,NaN,10231728,NaN

In [35]:
kyc_acc_rejection.head(5)

,cust_id,lead_id,entity_type,entuty_type_1,rejected_field_reason,rejected_field_name,updated_at,solution_type,solution_type_level_3_x,Product_Context,Stage movement count,solution_type_level_3_y
0,1453336800,9c0e3b82-1c8f-495d-a8da-2916acf3e291,INDIVIDUAL,INDIVIDUAL,Business Owner Photo is not matching with Aadhaar,businessOwnerPhoto,2025-04-03 17:58:10,merchant_common_onboard,KYC_UPDATE,NON_EDC,"{""QC_REJECTED"":2}",KYC_UPDATE
1,1014079372,8e279e0e-1c91-4802-80b4-e561550fc060,PROPRIETORSHIP,NON_EDC,Name on Aadhar mismatch with name as per Pan/KYC,aadharVerificationStatus,2025-04-15 13:49:20,merchant_common_onboard,ACCOUNT_UPGRADE,NON_EDC,"{""QC_REJECTED"":1}",ACCOUNT_UPGRADE
2,1014079372,8e279e0e-1c91-4802-80b4-e561550fc060,PROPRIETORSHIP,NON_EDC,Random photo,businessOwnerPhoto,2025-04-15 13:49:20,merchant_common_onboard,ACCOUNT_UPGRADE,NON_EDC,"{""QC_REJECTED"":1}",ACCOUNT_UPGRADE
3,1026172190,1c6695d5-33d3-4726-87c8-d89f1bb3002b,PROPRIETORSHIP,NON_EDC,Not a fixed shop,shopFrontPhoto,2025-04-08 19:42:34,merchant_common_onboard,ACCOUNT_UPGRADE,NON_EDC,"{""QC_REJECTED"":1}",ACCOUNT_UPGRADE
4,1185418856,82902672-64bd-46c2-8c6b-2898ebcfdf10,PROPRIETORSHIP,NON_EDC,Proprietor name mismatch with NSDL name,foodLicense,2025-04-22 14:05:40,merchant_common_onboard,ACCOUNT_UPGRADE,NON_EDC,"{""QC_REJECTED"":1}",ACCOUNT_UPGRADE

In [36]:
#mco_rejection=mco_rejection.drop(columns=['solution_type_level_3_y'])
kyc_acc_rejection=kyc_acc_rejection.drop(columns=['Product_Context', 'Stage movement count', 'solution_type_level_3_y'])

In [37]:
kyc_acc_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'rejected_field_reason', 'rejected_field_name', 'updated_at',
       'solution_type', 'solution_type_level_3_x'],
      dtype='object')

In [38]:
mco_rejection=mco_rejection.drop(columns=['solution_type_level_3_x', 'solution_type_level_3_y'])

In [39]:
mco_rejection.columns

Index(['cust_id', 'lead_id', 'entity_type', 'entuty_type_1',
       'Product_Context_x', 'rejected_field_reason', 'rejected_field_name',
       'Stage movement count_x', 'updated_at', 'FSE_Ecode'],
      dtype='object')

In [40]:
len(mco_rejection)

36774

In [41]:
mco_rejection['Product_Context_x'].isna().sum()

5164

In [42]:
mco_rejection = mco_rejection.dropna(subset=['Product_Context_x'])
len(mco_rejection)

31610

In [43]:
kyc_acc_rejection.to_csv(kyc_acc_output_file, index=False)
mco_rejection.to_csv(mco_output_file, index=False)