In [10]:
import pandas as pd
import numpy as np

# Sample data: Two timestamp columns (start and end)
data = {
    'start': ['2023-09-25 07:00:00', '2023-09-25 09:00:00', '2023-09-25 20:00:00'],
    'end': ['2023-09-25 08:00:00', '2023-09-26 23:00:00', '2023-09-27 22:00:00']
}
df = pd.DataFrame(data)

# Convert to datetime
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['start']
    end = row['end']
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)
        
        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start
    
    # Convert total active duration to HH:MM:SS
    return str(total_active_duration)

# Apply the function to each row
df['active_duration_HHMMSS'] = df.apply(calculate_active_duration, axis=1)

# Display the result
print(df[['start', 'end', 'active_duration_HHMMSS']])

                start                 end active_duration_HHMMSS
0 2023-09-25 07:00:00 2023-09-25 08:00:00        0 days 00:00:00
1 2023-09-25 09:00:00 2023-09-26 23:00:00        1 days 01:30:00
2 2023-09-25 20:00:00 2023-09-27 22:00:00        1 days 03:30:00

In [13]:
import pandas as pd
import numpy as np

# Sample data: Two timestamp columns (start and end)
data = {
    'start': ['2023-09-25 22:00:00', '2023-09-25 09:00:00', '2023-09-25 20:00:00'],
    'end': ['2023-09-25 23:00:00', '2023-09-26 23:00:00', '2023-09-27 22:00:00']
}
df = pd.DataFrame(data)

# Convert to datetime
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['start']
    end = row['end']
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)
        
        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start
            
            # Check if the entire day is within the active hours
            if active_start <= start and end <= active_end:
                total_active_duration += pd.Timedelta(hours=24)
    
    # Convert total active duration to hours
    total_hours = total_active_duration.total_seconds() / 3600
    
    # Format the hours to HH:MM:SS
    hours = int(total_hours)
    minutes = int((total_hours - hours) * 60)
    seconds = int(((total_hours - hours) * 60 - minutes) * 60)
    
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the function to each row
df['active_duration_HHMMSS'] = df.apply(calculate_active_duration, axis=1)

# Display the result
print(df[['start', 'end', 'active_duration_HHMMSS']])

                start                 end active_duration_HHMMSS
0 2023-09-25 22:00:00 2023-09-25 23:00:00               00:00:00
1 2023-09-25 09:00:00 2023-09-26 23:00:00               25:30:00
2 2023-09-25 20:00:00 2023-09-27 22:00:00               27:30:00

In [16]:
import pandas as pd
import numpy as np

# Sample data: Two timestamp columns (start and end)
data = {
    'start': ['2023-09-25 09:00:00', '2023-09-25 09:00:00', '2023-09-25 20:00:00', None],
    'end': ['2023-09-25 10:00:00', '2023-09-26 23:00:00', '2023-09-27 22:00:00', None]
}
df = pd.DataFrame(data)

# Convert to datetime and handle NaT
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['start']
    end = row['end']
    
    # Check if either start or end is NaT
    if pd.isna(start) or pd.isna(end):
        return "00:00:00"  # Return 0 hours if either is NaT
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)
        
        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start
            
            # Check if the entire day is within the active hours
            if active_start <= start and end <= active_end:
                total_active_duration += pd.Timedelta(hours=24)
    
    # Convert total active duration to hours
    total_hours = total_active_duration.total_seconds() / 3600
    
    # Format the hours to HH:MM:SS
    hours = int(total_hours)
    minutes = int((total_hours - hours) * 60)
    seconds = int(((total_hours - hours) * 60 - minutes) * 60)
    
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the function to each row
df['active_duration_HHMMSS'] = df.apply(calculate_active_duration, axis=1)

# Display the result
print(df[['start', 'end', 'active_duration_HHMMSS']])

                start                 end active_duration_HHMMSS
0 2023-09-25 09:00:00 2023-09-25 10:00:00               25:00:00
1 2023-09-25 09:00:00 2023-09-26 23:00:00               25:30:00
2 2023-09-25 20:00:00 2023-09-27 22:00:00               27:30:00
3                 NaT                 NaT               00:00:00

In [ ]:


# Convert to datetime
data['Last QC Pending Timestamp'] = pd.to_datetime(data['Last QC Pending Timestamp'])
data['Final TimeStamp'] = pd.to_datetime(data['Final TimeStamp'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['Last QC Pending Timestamp']
    end = row['Final TimeStamp']
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)
        
        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start
            
            # Check if the entire day is within the active hours
            if active_start <= start and end <= active_end:
                total_active_duration += pd.Timedelta(hours=24)
    
    # Convert total active duration to hours
    total_hours = total_active_duration.total_seconds() / 3600
    
    # Format the hours to HH:MM:SS
    hours = int(total_hours)
    minutes = int((total_hours - hours) * 60)
    seconds = int(((total_hours - hours) * 60 - minutes) * 60)
    
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the function to each row
data['TAT'] = data.apply(calculate_active_duration, axis=1)

# Display the result
print(data[['Last QC Pending Timestamp', 'Final TimeStamp', 'TAT']])

In [23]:
import pandas as pd

# Sample data: Two timestamp columns (start and end), including NaT values
data = {
    'start': ['2023-09-25 07:00:00', '2023-09-25 09:00:00', '2023-09-25 20:00:00', None],
    'end': ['2023-09-25 08:00:00', '2023-09-26 23:00:00', '2023-09-27 22:00:00', None]
}
df = pd.DataFrame(data)

# Convert to datetime
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

# Define active hours (08:30 AM - 09:30 PM)
active_start_time = pd.to_timedelta('08:30:00')
active_end_time = pd.to_timedelta('21:30:00')

# Function to calculate active duration for each row
def calculate_active_duration(row):
    start = row['start']
    end = row['end']
    
    # Check if either start or end is NaT
    if pd.isna(start) or pd.isna(end):
        return "00:00:00"  # Return 0 hours if either is NaT
    
    # Initialize total active duration
    total_active_duration = pd.Timedelta(0)
    
    # Iterate over each date from start to end
    for single_date in pd.date_range(start=start.date(), end=end.date()):
        active_start = pd.Timestamp(single_date) + active_start_time
        active_end = pd.Timestamp(single_date) + active_end_time
        
        # Determine the effective active period for this day
        effective_start = max(start, active_start)
        effective_end = min(end, active_end)

        # If there's a valid active period, add its duration
        if effective_start < effective_end:
            total_active_duration += effective_end - effective_start

    # Convert total active duration to hours
    total_hours = total_active_duration.total_seconds() / 3600
    
    # Format the hours to HH:MM:SS
    hours = int(total_hours)
    minutes = int((total_hours - hours) * 60)
    seconds = int(((total_hours - hours) * 60 - minutes) * 60)
    
    return f"{hours:02}:{minutes:02}:{seconds:02}"

# Apply the function to each row
df['active_duration_HHMMSS'] = df.apply(calculate_active_duration, axis=1)

# Display the result
print(df[['start', 'end', 'active_duration_HHMMSS']])

                start                 end active_duration_HHMMSS
0 2023-09-25 07:00:00 2023-09-25 08:00:00               00:00:00
1 2023-09-25 09:00:00 2023-09-26 23:00:00               25:30:00
2 2023-09-25 20:00:00 2023-09-27 22:00:00               27:30:00
3                 NaT                 NaT               00:00:00

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame 1 (existing)
df1 = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'category_A_marks': [85, np.nan, 90, np.nan],
    'status': ['active', 'inactive', 'active', 'active']
})

# Sample DataFrame 2 (source of marks)
df2 = pd.DataFrame({
    'identifier': [2, 4],
    'marks': [75, 88]
})

# Merge df1 with df2 on different ID column names
df1 = df1.merge(df2, left_on='student_id', right_on='identifier', how='left')

# Update category_A_marks where it is null and status is 'active'
df1.loc[(df1['category_A_marks'].isnull()) & (df1['status'] == 'active'), 'category_A_marks'] = df1['marks']

# Drop the 'marks' and 'identifier' columns
df1 = df1.drop(columns=['marks', 'identifier'])

print(df1)

In [8]:
import pandas as pd

In [9]:
raw_data=pd.read_csv("ybl whitelisted base.csv")

In [10]:
raw_data.head(3)

,bank_identifier,seller_id_count,pg_mid,apr_gmv,may_gmv,june_gmv,july_gmv,aug_gmv,sep_gmv,max_value,...,bahn_businessname_percentage,bahn_displayname_percentage,bahn_aadharname_percentage,bahn_panname_percentage,remarks,formatted_mid,gstin,agent_type_source,final_remarks_29thoct,latlongflag
0,12915070,1,soFHaK73521595044105,60142.0,59776.0,41683.0,37292.0,126480.0,50541.0,126480.0,...,100,100,NaN,59.0,"Aadhar blank , PAN -BAHN >=40",soFHaK73521595044105_,NaN,diy_mco,"Aadhaar Name not available, PAN Name match wit...",ok
1,13940466,1,yHUOnU96400781706604,39400.0,21113.0,21430.0,12420.0,25065.0,17320.0,39400.0,...,100,100,100.0,100.0,Aadhaar-BAHN & PAN-BAHN,yHUOnU96400781706604_,NaN,OE_100k,Aadhaar Name-BAHN Name & PAN Name-BAHN Name,ok
2,15032070,1,A2ZMED22185384507355,1183923.0,1148417.0,1165805.0,1191518.0,1248078.0,1212487.0,1248078.0,...,100,100,NaN,65.0,"Aadhar blank , PAN -BAHN >=40",A2ZMED22185384507355_,36AAMFA9734F1Z8,OE_enterprise,"Aadhaar Name not available, PAN Name match wit...",ok

In [11]:
len(raw_data)

735103

In [8]:
raw_data.to_csv("ybl whitelisted base.csv", index=False)